<div class="app-products">

  <div class="search-container">
    <img class="logo" src="assets/logo.png" alt="Logo" [matMenuTriggerFor]="menu" #menuTrigger>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>store</mat-icon>
        <span>Cambiar Sucursal ({{ selectedSucursal?.nombre }})</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión (Jhon Doe)</span>
      </button>
    </mat-menu>

    <mat-form-field class="form-field">
      <mat-label>Busca un producto...</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      @if (value) {
      <button matSuffix matIconButton aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      }
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!--div class="menu-items">
      @if (usuario && sucursales.length) {
      <div ngbDropdown>
        <button class="nav-link text-truncate" ngbDropdownToggle data-bs-toggle="dropdown">
          <fa-icon [icon]="icons.store"></fa-icon>
        </button>
        <ul ngbDropdownMenu>
          <h6 class="dropdown-header">Sucursales</h6>
          @for (s of sucursales; track s) {
          <li>
            <a class="dropdown-item pointer-cursor" (click)="selectSucursal(s)"
              [ngClass]="{ 'active' : selectedSucursal?.idSucursal === s.idSucursal }">
              <fa-icon [icon]="icons.store"></fa-icon>
              {{ s.nombre }}
            </a>
          </li>
          }
        </ul>
      </div>
      <div ngbDropdown>
        <button class="nav-link text-truncate" ngbDropdownToggle data-bs-toggle="dropdown">
          <fa-icon [icon]="icons.user"></fa-icon>
        </button>
        <ul ngbDropdownMenu>
          <h6 class="dropdown-header">{{ usuario.nombre }} {{ usuario.apellido }}</h6>
          <li>
            <a class="dropdown-item pointer-cursor" (click)="logout()">
              <fa-icon [icon]="icons.rightFromBracket"></fa-icon>
              Salir
            </a>
          </li>
        </ul>
      </div>
      }
    </div-->
  </div>
  
  <div class="products-container">
    @for (producto of products; track producto) {
    <mat-card class="product-card" appearance="filled">
      <div matRipple class="product-content">
        <div class="product-image">
          <img [src]="producto.urlImagen ? producto.urlImagen : 'assets/sin_imagen.png'" alt="Foto">
        </div>
        <div class="product-info">
          <div class="product-code">{{ producto.codigo }}</div>
          <div class="product-description">{{ producto.descripcion }}</div>
        </div>
        <div class="product-price"><b>${{ producto.precioLista | number: '1.0-2' }}</b></div>
        <div class="product-stock">{{ getCantidadDisponibleDeSurcusalSelecionada(producto) }} {{ producto.nombreMedida }}</div>
        <div class="product-quantity">
          <button mat-icon-button (click)="decreaseQuantity(producto)">
            <mat-icon>remove</mat-icon>
          </button>
          <mat-form-field>
            <input matInput type="text" [value]="0" />
          </mat-form-field>
          <button mat-icon-button (click)="increaseQuantity(producto)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  }
  </div>
