<nav class="app-navbar navbar navbar-expand bg-success bg-opacity-25">
  <div class="container-xxl">
    <a class="navbar-brand" routerLink="/pos">
      <img class="logo me-2" src="assets/logo-opensource.png" alt="Logo de Pos">
      <span class="d-none d-sm-inline">Punto de Venta</span>
    </a>
    <button
      class="navbar-toggler" type="button"
      aria-controls="navbarSupportedContent"
      (click)="isCollapsed = ! isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-0" *ngIf="usuario">
        <li class="nav-item nav-item-custom" ngbDropdown *ngIf="sucursales.length">
          <a class="nav-link text-truncate" ngbDropdownToggle role="button" data-bs-toggle="dropdown">
            <fa-icon [icon]="['fas','store']"></fa-icon> {{ selectedSucursal ? selectedSucursal.nombre : '(No seleccionada)'}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li *ngFor="let s of sucursales">
              <a class="dropdown-item pointer-cursor" (click)="selectSucursal(s)" [ngClass]="{ 'disabled' : selectedSucursal?.idSucursal === s.idSucursal }">
                <fa-icon [icon]="['fas','check']" *ngIf="selectedSucursal?.idSucursal === s.idSucursal"></fa-icon>
                {{ s.nombre }}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-item-custom" ngbDropdown>
          <a class="nav-link text-truncate" ngbDropdownToggle role="button" data-bs-toggle="dropdown">
            <fa-icon [icon]="['far','circle-user']"></fa-icon> {{ usuario.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li>
              <a class="dropdown-item pointer-cursor" (click)="logout()">
                <fa-icon [icon]="['fas','arrow-right-from-bracket']"></fa-icon> Salir
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
