<nav class="app-navbar navbar navbar-expand bg-success bg-opacity-25">
  <div class="container-xxl">
    <a class="navbar-brand" routerLink="/pos">
      <img class="logo me-2" src="assets/logo-opensource.png" alt="Logo de Pos">
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent"
      (click)="isCollapsed = ! isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" #collapse="ngbCollapse" [ngbCollapse]="!isCollapsed"
      (ngbCollapseChange)="isCollapsed = $event" id="navbarSupportedContent">
      @if (usuario) {
      <ul class="navbar-nav ms-auto mb-0">
        @if (sucursales.length) {
        <li class="nav-item nav-item-custom" ngbDropdown>
          <a class="nav-link text-truncate" ngbDropdownToggle role="button" data-bs-toggle="dropdown">
            <fa-icon [icon]="icons.store"></fa-icon>
            <span class="d-none d-md-inline ms-1">
              {{ selectedSucursal ? selectedSucursal.nombre : '(No seleccionada)'}}
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li class="d-md-none">
              <h6 class="dropdown-header">Sucursales</h6>
            </li>
            @for (s of sucursales; track s) {
            <li>
              <a class="dropdown-item pointer-cursor" (click)="selectSucursal(s)"
                [ngClass]="{ 'active' : selectedSucursal?.idSucursal === s.idSucursal }">
                <fa-icon [icon]="icons.store"></fa-icon>
                {{ s.nombre }}
              </a>
            </li>
            }
          </ul>
        </li>
        }
        <li class="nav-item nav-item-custom" ngbDropdown>
          <a class="nav-link text-truncate" ngbDropdownToggle role="button" data-bs-toggle="dropdown">
            <fa-icon [icon]="icons.user"></fa-icon>
            <span class="d-none d-md-inline ms-1">{{ usuario.nombre }} {{ usuario.apellido }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li class="d-md-none">
              <h6 class="dropdown-header">{{ usuario.nombre }} {{ usuario.apellido }}</h6>
            </li>
            <li>
              <a class="dropdown-item pointer-cursor" (click)="logout()">
                <fa-icon [icon]="icons.rightFromBracket"></fa-icon> 
                Salir
              </a>
            </li>
          </ul>
        </li>
      </ul>
      }
    </div>
  </div>
</nav>
<div class="d-md-none text-center py-2 border-bottom border-success border-opacity-25">
  <fa-icon [icon]="icons.store"></fa-icon>
  {{ selectedSucursal ? selectedSucursal.nombre : '(No seleccionada)'}}
</div>