@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.app-productos {
  .search-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    .input-group {
      $border-radius: 1.5rem;
      width: 100%;
      max-width: 40rem;

      .manifying-glass-container {
        background-color: white;
        border-color: rgba(var(--bs-success-rgb), 0.25);
        border-right: none;
        -webkit-border-top-left-radius: $border-radius;
        -webkit-border-bottom-left-radius: $border-radius;
        -moz-border-radius-topleft: $border-radius;
        -moz-border-radius-bottomleft: $border-radius;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      input {
        border-left: none;
        border-right: none;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }

      .btn-times {
        border-color: rgba(var(--bs-success-rgb), 0.25);
        border-left: none;
        -webkit-border-top-right-radius: $border-radius;
        -webkit-border-bottom-right-radius: $border-radius;
        -moz-border-radius-topright: $border-radius;
        -moz-border-radius-bottomright: $border-radius;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  input#search-input {
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-style: italic;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      font-style: italic;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      font-style: italic;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      font-style: italic;
    }
  }

  #productos {
    $border-radius: 0.3rem;

    .producto {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: white;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      border-radius: $border-radius;

      @include media-breakpoint-up(md) {
        font-size: 1.2rem;
      }

      .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 5rem;
        height: 5rem;

        @include media-breakpoint-up(md) {
          width: 7rem;
          height: 7rem;
        }

        background-color: white;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        border-radius: $border-radius;

        img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .precio {
        font-size: 1.1em;
      }
    }
  }
}