<div class="app-login">
  <img class="logo" src="assets/sin_imagen.png" alt="Logo">

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Email o Usuario</mat-label>
      <input matInput formControlName="username"/>
      <mat-error *ngIf="loginForm.controls.username.hasError('required') && loginForm.controls.username.touched">
        Requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">
        Requerido
      </mat-error>
    </mat-form-field>

    <button matButton="filled" type="submit" [disabled]="loginForm.invalid || loading()">      
      @if (loading()) {
        <mat-spinner diameter="20" class="spinner"></mat-spinner>
      } @else {
        Ingresar
      }      
    </button>
  </form>
</div>