:host {
  display: grid;
  place-items: center;
  background-color: #E0E0E0;
  height: 100%;
}

.app-login {
  width: 100%;
  max-width: 350px;
  text-align: center;
  background-color: #E0E0E0;

  .logo {
    width: 15rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}