.app-checkout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .checkout-header {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 2.5rem;

    .customer-name {
      font-size: 1.5rem;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }

  .checkout-list {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    justify-content: center;

    .empty-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: gray;
    }

    .checkout-item {
      flex: 0 0 auto;

      .checkout-qty {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .checkout-desc {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.2rem;
        text-wrap: auto;
        padding: 0 1rem;
      }

      .spacer {
        flex: 1 1 auto;
      }

      .checkout-price {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  .checkout-total {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    font-size: 1.5rem;

    .total-labels {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .checkout-btn {
      font-size: 2rem;
      height: 4.5rem;
    }
  }
}