<div class="app-checkout">
  <mat-toolbar class="checkout-header">
    <span class="customer-name"><b>Consumidor Final</b></span>
    <span class="spacer"></span>
    <button matIconButton (click)="openDialog()" style="color: blue;">
      <mat-icon>person_search</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-toolbar class="checkout-list">
    @for (item of items; track item) {
    <mat-toolbar-row class="checkout-item">
      <span class="checkout-qty">{{ item.qty }}x</span>
      <span class="checkout-desc">{{ item.desc }}</span>
      <span class="spacer"></span>
      <span class="checkout-price">${{ item.price }}</span>
      <button matIconButton (click)="removeItem(item)" style="color: blue;">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
    }
  </mat-toolbar>

  <div class="checkout-total">
    <div class="total-labels">
      <span class="total-label"><b>TOTAL</b></span>
      <span class="total-value"><b>${{ total }}</b></span>
    </div>
    <button matButton="filled" class="checkout-btn" (click)="finalize()">
      <mat-icon>check</mat-icon>
      <span>Finalizar</span>
    </button>
  </div>

</div>