.app-checkout {
  display: flex;
  flex-direction: column;
  //box-sizing: border-box;
  //padding: 1.5rem 1rem 1rem 1rem;
  height: 100vh;
  overflow: auto;

  .checkout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    margin-top: 1.2rem;

    .customer-name {
      font-size: 2rem;
    }
  }

  .checkout-list {
    display: flex;
    flex-grow: 1;
    //flex-shrink: 1;
    //flex-basis: auto;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;

    .checkout-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      font-size: 1.25rem;

      .checkout-qty {
        min-width: 2.5rem;
        font-weight: bold;
      }

      .checkout-desc {
        //flex: auto;
        //margin-left: 0.5rem;
      }

      .checkout-price {
        min-width: 4rem;
        text-align: right;
        font-weight: bold;
      }
    }
  }

  .checkout-total {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;

    .total-label {
      font-weight: bold;
    }

    .total-value {
      font-weight: bold;
      font-size: 1.5rem;
      margin-left: 2rem;
    }

    .checkout-btn {
      font-size: 2rem;
      height: 4.5rem;
      line-height: 4.5rem;

      mat-icon {
        font-size: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}